<p id="notice"><%= notice %></p>
<h1>Users</h1>
<h6><strong>おすすめ</strong></h6>
<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.avatar.thumb.url %></td>
        <td><%= link_to user.name, user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Photo Gallery', pictures_path %>
