body {
  background-color: #000000;
  color: #dee2e6;
  margin-bottom: auto!important;
}
header {
  height: 70px;
  background-color: #000000;
  box-shadow: 0px 1px 1px 0px #B6B6B6;
}
body .header_icon {
  font-size: 1.6rem;
  vertical-align: middle;
  margin-right: 5px;
}
body .header_icon_value {
  font-size: 0.8rem;
  padding: 4px;
  border: solid 1px;
  border-radius: 2px;
}
a {
  color: #dee2e6;
  line-height: 0;
}
.picture_index {
  margin-top: 35px;
}
img {
  margin-top: 4px;
}
.main {
  padding-bottom: 80px;
}
footer {
  height: 50px;
  background-color: #000000;
}
body .icon_value {
  font-size: 0.8rem;
  padding: 3px;
  border: solid 1px;
  border-radius: 2px;
  margin: auto;
}
.avatar_img {
  border: solid 2px #B6B6B6;
  border-radius: 100%;
}
.default_avatar {
  border: solid 2px #B6B6B6;
  border-radius: 100%;
  background: #708090;
  padding: 10px 8px 5px 8px;
}
.user_name {
  margin-top: 35px;
}
.user_profile {
  margin-top: 20px;
  border: solid 2px #B6B6B6;
  border-radius: 5px;
}
.picture_img {
  margin-top: 25px;
  margin-bottom: 25px;
}
.text_entry {
  background-color: #000000;
  color: #dee2e6;
  outline: none;
  resize: none;
  border: transparent;
  margin-top: 10px;
}
.show_picture {
  margin-top: 25px;
}
.show_user {
  padding-bottom: 10px;
}
#select_img {
  margin-top: 10px;
}
